
<!doctype html>
<html lang="en">
  <head>
  	{% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Parwez's Blog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Parwez Khan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  ml-auto">
      <a class="nav-item nav-link" href="#">Twitter</a>
      <a class="nav-item nav-link" href="{% static 'resume.pdf' %}">Resume</a>
      <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
    </div>
  </div>
</nav>
    </header>

    <main role="main">
      <div class="container">     
     <h1 class="text-center pt-3">Welcome to Parwez's Blog</h1>
     <br />
     <br />
     <h2>Latest Posts</h2>
     <hr/>
       {% for blog in blogs.all %}
         <a href="{% url 'detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
         {{blog.pub_date_pretty }}
         <br/>
         <img class="img-fluid" src="{{ blog.image.url }}" height=200 width=200> 
         <br/>
         <p>  {{ blog.summary }}  </p>   
        {% endfor %}
      </div>
    </main>

    <footer class="text-muted">
      <div class="container text-center">
        <p> CopyRight Parwez Khan {% now "Y" %} </p>  
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>


